/* ここから下に記載していく */
*{
    box-sizing: border-box;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
  }

  body {
    background-color: black;
    color: white;
}

div#header {
    display: flex;
    justify-content: space-between;
    margin: 20px 5px;
    font-size: 16px;
    color: #dede7d;
}
div#s1 {
    font-size: 25px;
    font-weight: 700;
    margin: 13px 0px 0px 11px;

    height: 37px;
    padding-top: 10px;
}

div#s2 {
    height: 36px;
    padding-top: 6px;
    margin: 0 0px 0 32px;
}
input#site-search {
    width: 80%;
    background-color: #7b7979;
    border-radius: 7px;
}
input#site-search::placeholder {
    color: white;
}

div#p1 {
    height: auto;
    margin: 14px 15px;
    font-size: 18px;
    font-weight: 900;
}

div#l1 {
    height: auto;
    margin: 14px 15px;
    font-size: 18px;
    font-weight: 900;
}



/* ここからfooter */
div#footer {
    height: 30px;
    background-color: #1f1e1e;
    padding-top: 9px;
    text-align: center;
    font-size: 12px;
    position: fixed;
    bottom: 5px;
    width: 100%;
}